<div class="card-panel post">

  <div class="name">
    <a href="/postings/posting.user.id">
      <%= posting.user.nickname %>
    </a>
  </div>

  <div class="text-box">
    <%= simple_format(posting.text) %>
  </div>

  <div class="divider"></div>

  <div class='right-content'>
    <ul>
      <li class="list-list">
        <i class="small material-icons">
        <%= link_to 'details', "/postings/#{posting.id}", :title => "details" %>
        </i>
      </li>
      <% if user_signed_in? && current_user.id == posting.user_id %>
        </li class="list-list">
          <i class="small material-icons">
          <%= link_to 'edit', "/postings/#{posting.id}/edit", method: :get, :title => "edit" %>
          </i>
        </li>
        <li class="list-list">
          <i class="small material-icons">
          <%= link_to 'delete', "/postings/#{posting.id}", method: :delete, :title => "delete" %>
          </i>
        </li>
      <% end %>
    </ul>
  </div>

</div>
