<div class="contents">
  <div class="content_post">
    <% if user_signed_in? && current_user.id == @posting.user_id %>
      <div class="more">
        <ul class="more_list">
          <li>
            <%= link_to '編集', "/postings/#{@posting.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/postings/#{@posting.id}", method: :delete %>
          </li>
        </ul>
      </div>
    <% end %>
    <%= simple_format(@posting.text) %>
    <span class="name">
      <a href="/users/<%= @posting.user.id %>">
        <span>投稿者</span><%= @posting.user.nickname %>
      </a>
    </span>
  </div>
  <div class="container">
    <% if current_user %>
      <%= form_tag("/postings/#{@posting.id}/comments", method: :post) do %>
        <textarea cols="30" name="text" placeholder="コメントする" rows="2"></textarea>
        <input type="submit" value="SENT">
      <% end %>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>:</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
